SERVER_ADDRESS=http://0.0.0.0
SERVER_PORT=3000
FRONTEND_BASE_URL=https://kado.netfretsec.com
FRONTEND_ALLOWED_ORIGINS=https://kado.netfretsec.com
PARTICIPANT_ACCESS_RATE_WINDOW_MS=10000
PARTICIPANT_ACCESS_RATE_SOFT_LIMIT=10
PARTICIPANT_ACCESS_BASE_DELAY_MS=200
PARTICIPANT_ACCESS_MAX_DELAY_MS=1500
